<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Respository</title>
    <link rel="icon" href="~/Content/fav-icon.png" type="image/x-icon" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body class="BackColor">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("My Repository", "MainPage", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("MainPage", "Home")">Home</a></li>
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="@Url.Action("Dashboard", "Home")">Dashboard</a></li>
                        <li><a href="@Url.Action("Logout", "Home")">Logout</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Login", "Home")">Log In</a></li>
                        <li><a href="@Url.Action("Registration", "Home")">Sign Up</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <div align="center">
        <hr />
        <footer>
            <p>&copy; My Repository</p>
        </footer>
    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>