@model Ajinkya_Repository.Models.Classes.Login_Model
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row TopHeightForgotPassword">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 Outer_Window">
        <div class="Inner_Window">
            @if (Request.IsAuthenticated)
            {
                <div class="alert alert-success" align="center">
                    <strong><i class="glyphicon glyphicon-search"></i> You Are Already Signed In On This Web Site ...</strong>
                </div>
            }
            else
            {
                if (ViewBag.Message == "Account not found")
                {
                    <div class="alert alert-danger" align="center">
                        <strong>@ViewBag.Message</strong>
                    </div>
                }
                else if (ViewBag.Message == "Reset password link has been sent to your Email . . . ")
                {
                    <div class="alert alert-success" align="center">
                        <strong>@ViewBag.Message</strong>
                    </div>
                }
                else
                {
                    using (Html.BeginForm())
                    {
                        <div class="form-horizontal">
                            <h4>Forgot Password</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.EditorFor(model => model.Email_ID, new { htmlAttributes = new { @class = "form-control", @placeholder = Html.DisplayNameFor(model => model.Email_ID) } })
                                @Html.ValidationMessageFor(model => model.Email_ID, "", new { @class = "text-danger" })
                            </div>
                            
                            <div class="form-group">
                                <input type="submit" value="Forgot Password" class="btn btn-success col-sm-12" />
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}